@{
    ViewData["Title"] = "Главная";
}

<div class="info">
    <div class="info-img">
        <img src="@("~/img/avatar.png")" asp-append-version=true height="400px"/>
    </div>
    <div class="info-text">
        <h1 class="display-4">Здравствуйте</h1>
        <p>  
            Меня зовут Александр Амелин. Я из города Калуги. Занимаюсь программированием с 2015 года.
            Разработкой увлёкся в период сдачи ЕГЭ. Продолжил изучение в калужском филиале 
            МГТУ им. Баумана на кафедре "Программное обеспечение ЭВМ и информационные технологии".
            В дальнейшем занимался самообучением. Успел попробовать такие языки программирования,
            как С++, Pascal, MASM и FASM, Java, JS, С#. Последний решил сделать своим основным ЯП.
        </p>
    </div>
</div>
