@{
    ViewData["Title"] = "Связь со мной:";
}
<h1>@ViewData["Title"]</h1>

<ul class="network_list">
    <li><a href="https://vk.com/nsist996" target="_blank" text-decoration: none;>Вконтакте</a></li>
    <li><a href="https://www.youtube.com/channel/UC9HyFtef1QPZjwizZadKVRw" target="_blank" text-decoration: none;>YouTube</a></li>
</ul>
